#{extends '/templates/templateadmin.html' /}
#{set title: 'SiGBO :: Administrar Alunos - Cadastrar em Disciplina' /}

<center>
#{if alunos.isEmpty()}
	Você ainda não cadastrou nenhum aluno. <a href="@{Application.admalunos}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if disciplinas.isEmpty()}
	<center>
	Você ainda não cadastrou nenhuma disciplina. <a href="@{Application.admdisciplinas}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if (!alunos.isEmpty()) && (!disciplinas.isEmpty())}
<h2>:: Cadastrar Aluno em Disciplina ::</h2>
<form action="@{Cadastro.addDisciplinaToAluno()}"  method="GET">
	<label  for="idAluno">Aluno: </label>
	<select name="idAluno">
		#{if !alunos.isEmpty()}
			#{list items:alunos, as:'aluno'}
				<option value=${aluno.getId()}>${aluno.nome}</option>
			#{/list}
		#{/if}
	</select>
	<br>
	<label  for="idDisciplina">Disciplina: </label>
	<select name="idDisciplina">
		#{list items:disciplinas, as:'disciplina'}
			<option value=${disciplina.getId()}>[ID ${disciplina.getId()}]${disciplina.nome} - Turma: ${disciplina.getTurmaDisciplina()}</option>
		#{/list}
	</select>
	
	<input type="submit" value="Adicionar"/>
	
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
	
<br/>
#{if !alunos.isEmpty()}
	<font size=4>:: Alunos Cadastrados ::</font>
	<br/>
		<table border=1>
			<tr>
				<td bgcolor='#aaddbb' width=210><center><b>Nome</td>
				<td bgcolor='#aaddbb' width=490><center><b>Disciplinas (ID)</td>
			</tr>
		</table>
		<div style="height:300px;overflow:scroll;">
		<table border=1>
			#{list items:alunos, as:'aluno'}
					<tr>
						<td width=210>[ID: ${aluno.getId()}] ${aluno.nome}</td> 
						<td width=490>
							#{list items:alunodisciplina, as:'disciplina'}
								#{if disciplina.idAluno == aluno.id} 
									<center>
									[ID: ${disciplina.idDisciplina}] ${disciplina.getNomeDisciplina()} 
									(<b>Turma:</b> ${disciplina.getTurmaDisciplina()})</center>
									<br>
								#{/if} 
							#{/list}
						</td>
					</tr>
			#{/list}
		</table>
	</div>	
#{/if}