#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Alunos' /}

<center>
<h2>« Cadastrar novo Aluno »</h2></center>
<form action="@{Cadastro.addAluno()}"  method="GET">
	<label  for="nome" style="margin:0 0 0 65">Nome: </label>
	<input type="text" name="nome" size=30 value="${params.nome}"/>
	<br>
	<label  for="usuario" style="margin:0 0 0 1">Nome de Usuario: </label>
	<input type="text" name="usuario" size=30  value="${params.usuario}"/>
	<br>
	<label for="turmaAtual" style="margin:0 0 0 12">Turma Principal: </label>
	<select name="turmaAtual">
		#{list items:turmas, as:'turma'}
			<option value=${turma.getId()}>
				${turma.ano}º Ano "${turma.sala}"
				#{if turma.nivel == 1} 
						Ensino Fundamental 
				#{/if}
				#{if turma.nivel == 2}
						Ensino Médio
				#{/if}
			</option>
		#{/list}
	</select>
	<br>
	<label  for="senha" style="margin:0 0 0 63">Senha: </label>
	<input type="password" name="senha" size=30 value="${params.senha}"/>
	<br>
	<label  for="senha2">Confirme a senha: </label>
	<input type="password" name="senha2" size=30 value="${params.senha2}"/>
	<br>
	<div class="buttons" style="margin:0 0 0 135">
	<br><input type="submit" value="Adicionar" class="button"/>
	</div>
	
	#{if flash.error}
		<p align="center" style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
	
<br/>
#{if !alunos.isEmpty()}
<font size=4><center>Alunos Cadastrados</font>
<br><br>
<table id="customers">
<tr>
  <th><center>Turma</center></th>
  <th><center>Nome</center></th>
  <th><center>Usuário</center></th>
  <th><center>Senha</center></th>
</tr>
#{list items:alunos, as:'aluno'}
	<tr>
	<td><center>${aluno.escreverTurmaAtual()}º</center></td>
	<td><center>${aluno.getNome()}</center></td> 
	<td><center><b>${aluno.getNomeUsuario()}</center></b></td> 
	<td><center><i>${aluno.getSenhaUsuario()}</center></i></td>
	</tr>
#{/list}
</table>
#{/if}