#{set title:'SiGBO :: Administrar Professores' /}

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="@{'public/stylesheets/style.css'}" type="text/css" media="all" />
		<link rel="stylesheet" href="@{'public/stylesheets/jquery.jcarousel.css'}" type="text/css" media="all" />
		<!--[if IE 6]>
			<link rel="stylesheet" href="@{'public/stylesheets/ie6.css'}" type="text/css" media="all" />
		<![endif]-->
		<link rel="shortcut icon" href="@{'public/images/favicon.ico'}" />
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery.jcarousel.pack.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/func.js'}"></script>
    </head>
    <body>
    <div class="shell">
	<div class="border">
		<div id="header">
			<h1 id="logo"><a href="#" class="notext">beSmart</a></h1>
			<div class="socials right">
				<ul>
				    <li><a href="@{Application.administrador()}" class="rss">Início</a></li>
				    <li><a href="@{Application.index()}" class="fb">Sair</a></li>
				</ul>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		
		<div id="sidebar" class="left">

				<h3>Turmas</h3>
				<div class="sidebar-nav">
					<ul>
					    <li><a href="@{Application.admturmas}">Cadastrar Turma</a></li>
					    <li><a href="@{Application.gerenciarturma}">Gerenciar Turmas</a></li>
					</ul>
				</div>
				
				<h3>Disciplinas</h3>
				<div class="sidebar-nav">
					<ul>
					    <li><a href="@{Application.admdisciplinas}">Cadastrar Disciplina</a></li>
					    <li><a href="@{Application.gerenciardisciplina}">Gerenciar Disciplinas</a></li>
					</ul>
				</div>
				
				<h3>Professores</h3>
				<div class="sidebar-nav">
					<ul>
					    <li><a href="@{Application.admprofessores}">Cadastrar Professor</a></li>
					    <li><a href="@{Application.gerenciarprofessor}">Gerenciar Professores</a></li>
					    <li><a href="@{Application.admprofessordisciplina}">Cadastrar em Disciplina</a></li>
					</ul>
				</div>
				
				<h3>Alunos</h3>
				<div class="sidebar-nav">
					<ul>
					    <li><a href="@{Application.admalunos}">Cadastrar Aluno</a></li>
					    <li><a href="@{Application.gerenciaraluno}">Gerenciar Alunos</a></li>
					    <li><a href="@{Application.admalunodisciplina}">Cadastrar em Disciplina</a></li>
					</ul>
				</div>

		</div>
		
		<div id="main">
			<center>
			<h3>:: Cadastrar novo Professor ::</h3>
			<form action="@{Cadastro.addProfessor()}"  method="GET">
				<label  for="nome">Nome: </label>
				<input type="text" name="nome"/>
				
				<input type="submit" value="Adicionar"/>
				#{if flash.error}
    				<p style="color:#c00">
						${flash.error}
    				</p>
				#{/if}
			</form>
				
			<br/>
			#{if vazio != 0}
			<h3>:: Professores Cadastrados ::</h3>
			<table border=1>
				<tr>
					<td bgcolor='#aaddbb'><center><b>Nome</td>
				</tr>
				#{list items:professores, as:'professor'}
					<tr>
						<td>[ID: ${professor.getId()}] ${professor.nome}</td> 
					</tr>
				#{/list}
			</table>
			#{/if}
			<br/>
			<a href="@{Application.administrador()}"><img src="/public/images/voltar.png"></a>
			</center>
			<br><br><br><br><br><br><br><br><br>
		</div>
		
		<div class="shadow-l"></div>
		<div class="shadow-r"></div>
		<div class="shadow-b"></div>
	</div>
	
	<div id="footer">
		<div class="footer-nav left">
			<ul>
			    <li><a href="#" class="active">Inicio</a></li>
			    <li><a href="#">Historia</a></li>
			    <li><a href="#">Equipe</a></li>
			    <li><a href="#">Calendario</a></li>
			    <li class="last"><a href="#">Contato</a></li>
			</ul>
		</div>
		<p class="copy right">Copyright &copy; Fantastic Five Team ! beSmart 2010 | Valid CSS &amp; HTML. <a href="http://chocotemplates.com" target="_blank" title="Chocotemplates">Design</a></p>
		<div class="cl">&nbsp;</div>
	</div>
</div>
</body>
</html>