#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Professores' /}

<center>
<h2>:: Cadastrar novo Professor ::</h2>
<form action="@{Cadastro.addProfessor()}"  method="GET">
	<label  for="nome">Nome: </label>
	<input type="text" name="nome"/>
	<br>
	<label  for="usuario">Nome de Usuario: </label>
	<input type="text" name="usuario"/>
	<br><br>
	<label  for="senha">Senha: </label>
	<input type="password" name="senha"/>
	<br>
	<label  for="senha2">Informe a senha novamente: </label>
	<input type="password" name="senha2"/>
	<br>
	<input type="submit" value="Adicionar"/>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
	
<br/>

#{if !professores.isEmpty()}
<font size=4>:: Professores Cadastrados ::</font>
<table border=1>
	<tr>
		<td bgcolor='#aaddbb' width=230><center><b>Nome</td>
	</tr>
</table>
<div style="height:250px;width:250px;overflow:scroll;">
	<table border=1 height=70>
		#{list items:professores, as:'professor'}
			<tr>
				<td width=200>[ID: ${professor.getId()}] ${professor.nome}</td> 
			</tr>
		#{/list}
	</table>
</div>
#{/if}	