#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Turmas' /}

<center>
<h2>« Cadastrar nova Turma »</h2>
<form action="@{Cadastro.addTurma()}"  method="POST">
	<label  for="ano">Ano: </label>
	<select name="ano">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
	</select>
	<label  for="sala">Sala: </label>
	<input type="text" name="sala" size=3 />
	<label  for="ano">Nível: </label>
	<select name="nivel">
		<option value=1>Ensino Fundamental</option>
		<option value=2>Ensino Médio</option>
	</select>
	<div class="buttons">
	<br><input type="submit" value="Adicionar" class="button"/>
	</div>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>

<br/>
#{if !turmas.isEmpty()}
<font size=4><b>Turmas Cadastradas</b></font>
<br><br>
<table id="customers">
<tr>
  <th><center>Ano</center></th>
  <th><center>Sala</center></th>
  <th><center>Nível</center></th>
</tr>
#{list items:turmas, as:'turma'}
<tr>
<td><center>${turma.ano}º</center></td>
<td><center>${turma.sala}</center></td>
<td>
	<center>
				#{if turma.nivel == 2} 
					Ensino Médio
				#{/if}
				#{if turma.nivel == 1}
					Ensino Fundamental
				#{/if}
	</center>
</td>
</tr>
#{/list}
</table>
#{/if}