#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Turmas' /}

<center>
<h2>:: Cadastrar nova Turma ::</h2>
<form action="@{Cadastro.addTurma()}"  method="POST">
	Nível:
	<select name="nivel">
		<option value=1>Ensino Fundamental</option>
		<option value=2>Ensino Médio</option>
	</select>
	<label  for="ano">Ano: </label>
	<select name="ano">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
	</select>
	
	<label  for="sala">Sala: </label>
	<input type="text" name="sala" size=3 />
	<input type="submit" value="Adicionar"/>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>

<br/>
#{if !turmas.isEmpty()}
<font size=4><b>:: Turmas Cadastradas::</b></font>
<br>
<table border=1>
	<tr>
		<td bgcolor='#aaddbb' width=40>
			<center>
			<b>Ano
		</td>
		<td bgcolor='#aaddbb' width=150>
			<center>
			<b>Nível
		</td>
		<td bgcolor='#aaddbb' width=40>
			<center>
			<b>Sala
		</td>
	</tr>
</table>
<div style="height:250px;width:300px;overflow:scroll;">
<table border=1>
	#{list items:turmas, as:'turma'}
		<tr>
			<td width=40>
				<center>
				${turma.ano}º
			</td>
			<td width=150>
				<center>
				#{if turma.nivel == 2} 
					Ensino Médio
				#{/if}
				#{if turma.nivel == 1}
					Ensino Fundamental
				#{/if}
			<td width=40>
				<center>${turma.sala}
			</td>
		</tr>
	#{/list}
</table>
</div>
#{/if}