<html>
<head>
<style type="text/css">
#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #ba0002;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#780307;
color:#ffffff;
}
#customers tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}
</style>
</head>
<center>
<b>CEMNA - CENTRO DE EDUCAÇÃO PROFª MARIA NORMA ALVES</b>
<br>
<body>
Aluno(a): <b>${aluno.getNome()}</b>
<br>
SÉRIE: <b>${aluno.escreverTurmaAtual()}</b>      ANO: <b>2011</b>  
<br><br>
<table id="customers">
<tr>
	<th><center>Disciplinas</center></th>
	<th><center><b>1o BIMESTRE</b></center></th>
	<th><center><b>2o BIMESTRE</b></center></th>
	<th><center><b>3o BIMESTRE</b></center></th>
	<th><center><b>4o BIMESTRE</b></center></th>
	<th><center><b>Média</b></center></th>
	<th><center><b>Rec</b></center></th>
	<th><center><b>Média Final</b></center></th>
</tr>
	#{list items:disciplinas, as:'disc'}
		</tr>
		<td>
			#{if disc.isTurmaAtual()}
				<font color="green">
			#{/if}
			#{if !disc.isTurmaAtual()}
				<font color="red">
			#{/if}
			<center>${disc.getNomeDisciplina()}</center>
			</font>
		</td>
		<td>
			#{if disc.getNota1() != -1}<center>${disc.getNota1()}</center>#{/if}
			#{if disc.getNota1() == -1}<center>-</center>#{/if}
		</td>
		<td>
			#{if disc.getNota2() != -1}<center>${disc.getNota2()}</center>#{/if}
			#{if disc.getNota2() == -1}<center>-</center>#{/if}
		</td>
		<td>
			#{if disc.getNota3() != -1}<center>${disc.getNota3()}</center>#{/if}
			#{if disc.getNota3() == -1}<center>-</center>#{/if}
		</td>
		<td>
			#{if disc.getNota4() != -1}<center>${disc.getNota4()}</center>#{/if}
			#{if disc.getNota4() == -1}<center>-</center>#{/if}
		</td>
		<td>
			#{if (disc.getNota4() != -1) && (disc.getMedia() != -1)}<center>${disc.getMedia()}</center>#{/if}
			#{if disc.getNota4() == -1}<center>#</center>#{/if}
		</td>
		<td>
			#{if disc.getRec() != -2}<center>${disc.getRec()}</center>#{/if}
			#{if disc.getRec() == -2}<center>#</center>#{/if}
		</td>
		<td>
			#{if disc.getMediaFinal() != -1}<center>${disc.getMediaFinal()}</center>#{/if}
			#{if disc.getMediaFinal() == -1}<center>#</center>#{/if}
		</td>
		</tr>
	#{/list}
</table>
<br><br><br>

<input type="button" value="Imprimir boletim" onclick="window.print();">
</html>