#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Disciplina - Gerenciar Disciplinas' /}
		
<h3>:: Remover Disciplina ::</h3>
#{if disciplinas.isEmpty()}
	<center>
	Você ainda não cadastrou nenhuma disciplina. <a href="@{Application.admdisciplinas}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if !disciplinas.isEmpty()}
<form action="@{Remove.removeDisciplina()}"  method="GET">
	<label  for="idDisciplina">Disciplina: </label>
	<select name="idDisciplina">
		#{list items:disciplinas, as:'disciplina'}
			<option value=${disciplina.getId()}>
				[ID ${disciplina.getId()}]${disciplina.nome} - Turma: ${disciplina.getTurmaDisciplina()}
			</option>
		#{/list}
	</select>
	<input type="submit" value="Remover"/>
	
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
	
<br/>
#{if !disciplinas.isEmpty()}
<h3>:: Disciplinas Cadastrados ::</h3>
<table border=1 width=600>
		<tr>
			<td bgcolor='#aaddbb' width=150><b><center>Disciplina</td> 
			<td bgcolor='#aaddbb' width=480><center><b>Turma</td>
		</tr>
		</table>
		<div style="height:270px;width:700px;overflow:scroll;">
		<table border=1>
		#{list items:disciplinas, as:'disciplina'}
			<tr>
				<td width=180>
					<center>[ID ${disciplina.getId()}] ${disciplina.nome}
				</td> 
				<td width=460>
					<center>[ID: ${disciplina.turma}] <b>Turma:</b> ${disciplina.getTurmaDisciplina()}</center><br>
				</td>
			</tr>
		#{/list}
		</table>
		</div>	
#{/if}