#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Professores - Gerenciar Professor' /}

<center>
<h2>« Remover Professor »</h2>
#{if professores.isEmpty()}
	Você ainda não cadastrou nenhum professor. <a href="@{Application.admprofessores}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if !professores.isEmpty()}
<form action="@{Remove.removeProfessor()}"  method="GET">
	<label  for="idProfessor">Professor: </label>
	<select name="idProfessor">
		#{list items:professores, as:'professor'}
			<option value=${professor.getId()}>${professor.nome}</option>
		#{/list}
	</select>
	<div class="buttons">
	<br><input type="submit" value="Remover" class="button"/>
	</div>
	
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
	
<br/>
