<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="ISO-8859-1" />
	<title>#{get 'title' /}</title>
	<link rel="stylesheet" href="@{'public/stylesheets/style.css'}" type="text/css" media="all" />
	
	<!--[if IE 6]>
		<link rel="stylesheet" href="@{'public/stylesheets/ie.css'}" type="text/css" media="all" />	
	<![endif]-->
	
	<script type="text/javascript" src="@{'public/javascripts/jquery-1.4.2.min.js'}"></script>
	<script type="text/javascript" src="@{'public/javascripts/jquery.jcarousel.js'}"></script>
	
	<!-- Cufon -->
	<script type="text/javascript" src="@{'/public/javascripts/cufon-yui.js'}"></script>
	
	<script type="text/javascript" src="@{'/public/javascripts/MyriadPro.font.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/ArialBold.font.js'}"></script>
	
	
	<script type="text/javascript" src="@{'/public/javascripts/jquery-func.js'}"></script>
	<link rel="shortcut icon" type="image/x-icon" href="@{'public/images/favicon.ico'}" />
</head>
<body>
<!-- Header -->
<div id="header2">
	<div class="shell">
		<!-- Logo -->
		<h1 id="logo"><a>CEMNA - centro educacional professora maria norma alves</a></h1>
		<!-- /Logo -->
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="@{Application.administrador}" >In&iacute;cio</a></li>
				<li><a href="@{Application.logout}">Sair</a></li>
			</ul>
		</div>
		<!-- /Navigation -->
	</div>
</div>
<!-- /Header -->

<!-- Main -->
<div id="main">
	<div class="shell">
		<!-- Box -->
		<div class="box">
			<img src="@{'public/images/turmas.png'}" />
			<div class="entry bullet-list">
				<ul>
					<li><a href="@{Application.admturmas}">Cadastrar Turma</a></li>
					<li><a href="@{Application.gerenciarturma}">Remover Turma</a></li>
				</ul>
			</div>

			<img src="@{'public/images/disc.png'}" />
			<div class="entry bullet-list">
				<ul>
					<li><a href="@{Application.admdisciplinas}">Cadastrar Disciplina</a></li>
					<li><a href="@{Application.gerenciardisciplina}">Remover Disciplina</a></li>
				</ul>
			</div>

			<img src="@{'public/images/prof.png'}" />
			<div class="entry bullet-list">
				<ul>
					<li><a href="@{Application.admprofessores}">Adicionar Professor</a></li>
					<li><a href="@{Application.gerenciarprofessor}">Remover Professor</a></li>
					<li><a href="@{Application.admprofessordisciplina}">Cadastrar em Disciplina</a></li>
				</ul>
			</div>

			<img src="@{'public/images/alunos.png'}" />
			<div class="entry bullet-list">
				<ul>
					<li><a href="@{Application.admalunos}">Adicionar Aluno</a></li>
					<li><a href="@{Application.gerenciaraluno}">Remover Aluno</a></li>
					<li><a href="@{Application.admalunodisciplina}">Cadastrar em Disciplina</a></li>
					<li><a href="@{Application.admnotas}">Cadastrar Notas</a></li>
				</ul>
			</div>
		</div>
		<!-- /Box -->

		<!-- Box -->
		<div class="box principal">			
			<div class="entry">
				#{doLayout /}
			</div>
		</div>
		<!-- /Box -->

		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- /Main -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<!-- Mini Nav --> 
		<div class="footer-navigation"> 
			<ul> 
				<li><a href="#">In&iacute;cio</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Fotos</a></li>
				<li><a href="#">Blog</a></li>
				<li class="last"><a href="#">Contato</a></li> 
			</ul> 
		</div> 
		<!-- /Mini Nav --> 
		
		<!-- Copyrights --> 
		<p class="right"> 
			Copyright &copy; 2011 | CEMNA | Fantastic Five Team | <a href="http://css-free-templates.com/">Design</a>
		</p> 
		<!-- /Copyrights --> 
		
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- /Footer -->
</body>
</html>