#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Alunos' /}

<h3>:: Cadastrar novo Aluno ::</h3>
<form action="@{Cadastro.addAluno()}"  method="GET">
	<label  for="nome">Nome: </label>
	<input type="text" name="nome" value="${params.nome}"/>
	<br>
	<label  for="usuario">Nome de Usuario: </label>
	<input type="text" name="usuario" value="${params.usuario}"/>
	<br><br>
	<label  for="senha">Senha: </label>
	<input type="password" name="senha" value="${params.senha}"/>
	<br>
	<label  for="senha2">Informe a senha novamente: </label>
	<input type="password" name="senha2" value="${params.senha2}"/>
	<br>
	<input type="submit" value="Adicionar"/>
	
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
	
<br/>
#{if !alunos.isEmpty()}
	<h3>:: Alunos Cadastrados ::</h3>
	<table border=1>
		<tr>
			<td bgcolor='#aaddbb' width=250><b><center>Nome</td>
			<td bgcolor='#aaddbb' width=90><b><center>Usuario</td>
			<td bgcolor='#aaddbb' width=70><b><center>Senha</td>
		</tr>
	</table>
	<div style="height:250px;width:480px;overflow:scroll;">
	<table border=1 height=140 width=450>
		#{list items:alunos, as:'aluno'}
				<tr>
					<td>[ID: ${aluno.getId()}] ${aluno.getNome()}</td> 
					<td><b>${aluno.getNomeUsuario()}</b></td> 
					<td><i>${aluno.getSenhaUsuario()}</i></td>
				</tr>
		#{/list}
	</table>
</div>
#{/if}