#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Notas' /}

<center>
#{if alunos.isEmpty()}
	Você ainda não cadastrou aluno em disciplina. <a href="@{Application.admalunodisciplina}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if !alunos.isEmpty()}
<h2>« Cadastrar Nota »</h2></center>
<form action="@{Cadastro.addNotaToAluno()}"  method="GET">
	<label  for="idAluno" style="margin:0 0 0 200">Aluno: </label>
	<select name="idAluno">
		#{list items:alunos, as:'aluno'}
			<option value=${aluno.getIdAluno()}>
				${aluno.getNomeAluno()}
			</option>
		#{/list}
	</select>
	<br><br>
	<label  for="idDisciplina" style="margin:0 0 0 200">Disciplina: </label>
	<select name="idDisciplina">
		#{list items:disciplinas, as:'disciplina'}
			<option value=${disciplina.getIdDisciplina()}>
				${disciplina.getNomeDisciplina()}
			</option>
		#{/list}
	</select>
	<br><br>
	<label  for="bim" style="margin:0 0 0 200">Bimestre: </label>
	<select name="bim">
		<option value="nota1">
			1º Bimestre
		</option>
		<option value="nota2">
			2º Bimestre
		</option>
		<option value="nota3">
			3º Bimestre
		</option>
		<option value="nota4">
			4º Bimestre
		</option>
	</select>
	<label  for="nota">Nota: </label>
	<input type="text" name="nota" size=1>
	<br><br>
	<div class="buttons">
	<input type="submit" value="Adicionar" class="button" style="margin:0 0 0 290"/>
	</div>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
<br/>
#{if !alunos.isEmpty()}
<font size=4><center>Alunos Cadastrados (Disciplinas e Notas)</font>
<br><br>
<table id="customers">
<tr>
	<th><b><center>Aluno</th> 
	<th><center><b>Disciplina</th>
	<th><center><b>Nota 1</th>
	<th><center><b>Nota 2</th>
	<th><center><b>Nota 3</th>
	<th><center><b>Nota 4</th>
</tr>
#{list items:alunodisciplina, as:'aluno'}
<tr>
	<td width=200><center>${aluno.getNomeAluno()}</td> 
	<td width=330><center>${aluno.getNomeDisciplina()} <br>(${aluno.getTurmaDisciplina()})</center></td>
	<td><center> ${aluno.getNota1()}</td>
	<td><center> ${aluno.getNota2()}</td>
	<td><center> ${aluno.getNota3()}</td>
	<td><center> ${aluno.getNota4()}</td>
</tr>
#{/list}
</table>
#{/if}