#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Notas' /}

<center>
#{if alunos.isEmpty()}
	Você ainda não cadastrou aluno em disciplina. <a href="@{Application.admalunodisciplina}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if !alunos.isEmpty()}
<h2>:: Cadastrar Nota ::</h2>
<form action="@{Cadastro.addNotaToAluno()}"  method="GET">
	<label  for="idAluno">Aluno: </label>
	<select name="idAluno">
		#{list items:alunos, as:'aluno'}
			<option value=${aluno.getIdAluno()}>
				${aluno.getNomeAluno()}
			</option>
		#{/list}
	</select>
	<label  for="idDisciplina">Disciplina: </label>
	<select name="idDisciplina">
		#{list items:disciplinas, as:'disciplina'}
			<option value=${disciplina.getIdDisciplina()}>
				${disciplina.getNomeDisciplina()}
			</option>
		#{/list}
	</select>
	<br>
	<label  for="bim">Bimestre: </label>
	<select name="bim">
		<option value="nota1">
			1º Bimestre
		</option>
		<option value="nota2">
			2º Bimestre
		</option>
		<option value="nota3">
			3º Bimestre
		</option>
		<option value="nota4">
			4º Bimestre
		</option>
	</select>
	
	<label  for="nota">Nota: </label>
	<input type="text" name="nota">
	
	<div class="buttons">
	<br><input type="submit" value="Adicionar" class="button"/>
	</div>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
<br/>
#{if !alunos.isEmpty()}
<font size=4>:: Alunos Cadastrados (Disciplinas e Notas)::</font>
	<br>
		<div style="width:700px;">
		<table border=1>
		<tr>
			<td bgcolor='#aaddbb' width=200><b><center>Aluno</td> 
			<td bgcolor='#aaddbb' width=330><center><b>Disciplina</td>
			<td bgcolor='#aaddbc' width=40><center><b>Nota 1</td>
			<td bgcolor='#aaddbc' width=40><center><b>Nota 2</td>
			<td bgcolor='#aaddbc' width=40><center><b>Nota 3</td>
			<td bgcolor='#aaddbc' width=40><center><b>Nota 4</td>
		</tr>
		</table>
		</div>
		<div style="height:270px;width:700px;overflow:scroll;">
		<table border=1>
		#{list items:alunodisciplina, as:'aluno'}
			<tr>
				<td width=200>
					<center>[ID ${aluno.getIdAluno()}] ${aluno.getNomeAluno()}
				</td> 
				<td width=330>
					<center>[ID: ${aluno.getIdDisciplina()}] ${aluno.getNomeDisciplina()} <br>(${aluno.getTurmaDisciplina()})</center>
				</td>
				<td width=40>
					<center> ${aluno.getNota1()}
				</td>
				<td width=40>
					<center> ${aluno.getNota2()}
				</td>
				<td width=40>
					<center> ${aluno.getNota3()}
				</td>
				<td width=40>
					<center> ${aluno.getNota4()}
				</td>
			</tr>
		#{/list}
		</table>
		</div>
#{/if}