#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Professores - Cadastrar Disciplina' /}

<center>
#{if professores.isEmpty()}
	Você ainda não cadastrou nenhum professor. <a href="@{Application.admprofessores}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if disciplinas.isEmpty()}
	<center>
	Você ainda não cadastrou nenhuma disciplina. <a href="@{Application.admdisciplinas}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if (!professores.isEmpty()) && (!disciplinas.isEmpty())}
<h2>:: Cadastrar Professor em Disciplina ::</center></h2>
<form action="@{Cadastro.addDisciplinaToProfessor()}"  method="GET">
	<label  for="idProfessor" style="margin:0 0 0 120">Professor: </label>
	<select name="idProfessor">
		#{list items:professores, as:'professor'}
			<option value=${professor.getId()}>${professor.nome}</option>
		#{/list}
	</select>
	<br>
	<label  for="idDisciplina" style="margin:0 0 0 120">Disciplina: </label>
	<select name="idDisciplina">
		#{list items:disciplinas, as:'disciplina'}
			<option value=${disciplina.getId()}>${disciplina.nome} - Turma: ${disciplina.getTurmaDisciplina()}</option>
		#{/list}
	</select>
	<div class="buttons">
	<br><input type="submit" value="Adicionar" class="button" style="margin:0 0 0 230">
	</div>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
<br/>
#{if !professores.isEmpty()}
<font size=4><center>Professores Cadastrados</font><br><br>
<table border=1>
	<tr>
		<td bgcolor='#aaddbb' width=180><center><b>Nome</td>
		<td bgcolor='#aaddbb' width=550><center><b>Disciplinas (ID)</td>
	</tr>
</table>
<div style="height:270px;width:750px;overflow:scroll;">
<table border=1 height=90>
	#{list items:professores, as:'professor'}
		<tr>
			<td width=180>
				<center>${professor.nome}
			</td> 
			<td width=550>
				#{list items:professordisciplina, as:'disciplina'}
					#{if disciplina.idProfessor == professor.id} 
						<center>${disciplina.getNomeDisciplina()} (${disciplina.getTurmaDisciplina()})</center>
					#{/if} 
				#{/list}
			</td>
		</tr>
	#{/list}
</table>
</div>
#{/if}