<html>
<head>
<style type="text/css">
#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #ba0002;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#780307;
color:#ffffff;
}
#customers tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}
</style>
</head>
<center>
<b>CEMNA - CENTRO DE EDUCAÇÃO PROFª MARIA NORMA ALVES</b>
<br>
<body>
Aluno(a): <b>${aluno.getNome()}</b>
<br>
SÉRIE: <b>${aluno.escreverTurmaAtual()}</b>      ANO: <b>2011</b>  
<br><br>
<table id="customers">
<tr>
	<th>Disciplinas</th>
	<th><b>1o BIMESTRE</b></th>
	<th><b>2o BIMESTRE</b></th>
	<th><b>3o BIMESTRE</b></th>
	<th><b>4o BIMESTRE</b></th>
	<th><b>Média</b></th>
	<th><b>Rec</b></th>
	<th><b>Média Final</b></th>
</tr>
	#{list items:disciplinas, as:'disc'}
		</tr>
		<td>
			#{if disc.isTurmaAtual()}
				<font color="green">
			#{/if}
			#{if !disc.isTurmaAtual()}
				<font color="red">
			#{/if}
			${disc.getNomeDisciplina()}
			</font>
		</td>
		<td>
			#{if disc.getNota1() != -1}${disc.getNota1()}#{/if}
			#{if disc.getNota1() == -1}-#{/if}
		</td>
		<td>
			#{if disc.getNota2() != -1}${disc.getNota2()}#{/if}
			#{if disc.getNota2() == -1}-#{/if}
		</td>
		<td>
			#{if disc.getNota3() != -1}${disc.getNota3()}#{/if}
			#{if disc.getNota3() == -1}-#{/if}
		</td>
		<td>
			#{if disc.getNota4() != -1}${disc.getNota4()}#{/if}
			#{if disc.getNota4() == -1}-#{/if}
		</td>
		<td>
			#{if disc.getMedia() != -1}${disc.getMedia()}#{/if}
			#{if disc.getMedia() == -1}-#{/if}
		</td>
		<td>
			#{if disc.getRec() != -2}${disc.getRec()}#{/if}
			#{if disc.getRec() == -2}##{/if}
		</td>
		<td>
			#{if disc.getMediaFinal() != -1}${disc.getMediaFinal()}#{/if}
			#{if disc.getMediaFinal() == -1}##{/if}
		</td>
		</tr>
	#{/list}
</table>
<br><br><br>

<input type="button" value="Imprimir boletim" onclick="window.print();">
</html>