#{extends 'main.html' /}
#{set title:'BOLETINS' /}


  
  
  
  	
<html>
<head>
<script type="text/javascript">
function returnEnsino(int nivel)
{
 if (nivel == 1)
  {
  return "ENSINO FUNDAMENTAL";
  }
  else
  {
  return "ENSINO MÉDIO";
  }
 }
  
 function mediaAnual(float n1, float n2, float n3, float n4)
 {
  return ((n1+n2+n3+n4)/4);
 }
  
</script>
</head>
<center>
<b>CEMNA - CENTRO DE EDUCAÇÃO PROFª MARIA NORMA ALVES</b>
<br>
<body>
NOME DO ALUNO: ${Aluno.getNome()}  
<br>
<br>
Série: <b>${Turma.getAno()} ANO - returnEnsino(${Turma.getnivel()})}</b>
<br>
<br>
<table border="1">
<tr>
<th>BOLETIM</th>
<td><b>1o BIMESTRE</b></td>
	<td><b>2o BIMESTRE</b></td>
	<td><b>3o BIMESTRE</b></td>
	<td><b>4o BIMESTRE</b></td>
	<td><b>MÉDIA ANUAL</b></td>
</tr>
	<td>LÍNGUA PORTUGUESA</td>
	<td>${AlunoDisciplinas.getNota1}</td>
	<td>${AlunoDisciplinas.getNota2}</td>
	<td>${AlunoDisciplinas.getNota3}</td>
	<td>${AlunoDisciplinas.getNota4}</td>
	<td>mediaAnual(${AlunoDisciplinas.getNota1},${AlunoDisciplinas.getNota2},${AlunoDisciplinas.getNota3},${AlunoDisciplinas.getNota4})</td>
	</tr>
	<td>MATEMÁTICA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>CIÊNCIAS</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>HISTÓRIA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>GEOGRAFIA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>ENSINO DA ARTE</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>FILOSOFIA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>EDUCAÇÃO FÍSICA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>LÍNGUA INGLESA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>CULTURA DO RN</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>LITERATURA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	<td>GEOMETRIA</td>
	<td><input type="float" name="1a nota" size="4"></td>
	<td><input type="float" name="2a nota" size="4"></td>
	<td><input type="float" name="3a nota" size="4"></td>
	<td><input type="float" name="4a nota" size="4"></td>
	<td><input type="float" name="media anual" size="4"></td>
	</tr>
	</table>
	<br>
	<br>
	<input type="button" value="Imprimir boletim" onclick="window.print();">
</body>
</center>
</html>
