#{extends '/templates/templateadmin.html' /}
#{set title:'SiGBO :: Administrar Turma - Gerenciar Turmas' /}

<center>
<h2>:: Remover Turma ::</h2>
#{if turmas.isEmpty()}
	<center>
	Você ainda não cadastrou nenhuma turma. <a href="@{Application.admturmas}">Clique aqui</a> para cadastrar.
	<br>
#{/if}
#{if !turmas.isEmpty()}
<form action="@{Remove.removeTurma()}"  method="GET">
	<label  for="idTurma">Aluno: </label>
	<select name="idTurma">
		#{list items:turmas, as:'turma'}
			<option value=${turma.getId()}>
				${turma.ano}º Ano "${turma.sala}"
				#{if turma.nivel == 1} 
						Ensino Fundamental 
				#{/if}
				#{if turma.nivel == 2}
						Ensino Médio
				#{/if}
			</option>
		#{/list}
	</select>
	<input type="submit" value="Remover"/>
	
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
</form>
#{/if}
	
<br/>
#{if !turmas.isEmpty()}
<font size=4>:: Turmas Cadastrados ::</font>
<table border=1>
	<tr>
		<td bgcolor='#aaddbb' width=40>
			<center>
			<b>Ano
		</td>
		<td bgcolor='#aaddbb' width=150>
			<center>
			<b>Nível
		</td>
		<td bgcolor='#aaddbb' width=40>
			<center>
			<b>Sala
		</td>
	</tr>
</table>
<div style="height:250px;width:270px;overflow:scroll;">
<table border=1>
	#{list items:turmas, as:'turma'}
		<tr>
			<td width=40>
				<center>
				${turma.ano}º
			</td>
			<td width=150>
				<center>
				#{if turma.nivel == 2} 
					Ensino Médio
				#{/if}
				#{if turma.nivel == 1}
					Ensino Fundamental
				#{/if}
			<td width=40>
				<center>${turma.sala}
			</td>
		</tr>
	#{/list}
</table>
</div>
#{/if}