#{extends '/templates/templatealuno.html' /}
#{set title: 'Mural' /}

<h2>Mural</h2>
<form action="@{Application.addRecado()}"  method="GET">
	<div style=" display:block;display:none;">
		<input type="radio" checked name="idDestinatario" value="${aluno.getId()}">
	</div>
	<textarea name="texto" id="texto" rows="7" cols="60"></textarea>
	<br/>
	<input type="checkbox" name="privado" value="true"> <small>Privado</small>
	<br>
	#{if flash.error}
		<p style="color:#c00">
			${flash.error}
		</p>
	#{/if}
	<p align="left"><input type="submit" value="Adicionar"/></pr>
</form>
<center>
<br>
</center>
#{if !recados.isEmpty()}
<div style="height:360px;width:480px;overflow:scroll;">
	<p align=left>
		#{list items:recados, as:'recado'}
			<a href="@{Application.aluno(recado.getIdRemetente())}">
				<img src="@{Application.getPicture(recado.getRemetente().getAvatar())}" height=50/>
				<b>${recado.getRemetente().getNome()}
			</a> disse (às ${recado.getDataFormatada()}):
			</b>
			<br>
			<big><b>${recado.getTexto()}</b></big>
			<br>
			<br/>
		#{/list}
	</p>
</div>
#{/if}
