#{extends '/templates/templateuser.html' /}
#{set title: 'SiGBO :: Usuário / Mural' /}

#{if !recados.isEmpty()}
<div style="height:330px;width:480px;overflow:scroll;">
	<p align=left>
		#{list items:recados, as:'recado'}
				<a href="@{Application.aluno(recado.getIdRemetente())}">
					<img src="@{Application.getPicture(recado.getRemetente().getAvatar())}" height=50/>
					<small><b>${recado.getRemetente().getNome()}
				</a> disse (às ${recado.getDataFormatada()}):
				</b></small>
				<br>
				<b>${recado.getTexto()}</b>
				<br>
				<font size=2>
					<a href="@{Application.recadosaluno(recado.getIdRemetente())}">
						Responder
					</a>
					<a href="@{Application.removerRecado(recado.getId())}">
						[x] Apagar recado.
					</a>
				</font>
				<br>
			<br/><br>
		#{/list}
	</p>
</div>
#{/if}