#{extends '/templates/templateuser.html' /}
#{set title: 'SiGBO :: Usuário / Mural' /}

<h2>Mural</h2>
#{if !recados.isEmpty()}
<div style="height:500px;width:480px;overflow:scroll;">
	<p align=left>
		#{list items:recados, as:'recado'}
				<a href="@{Application.aluno(recado.getIdRemetente())}">
					<img src="@{Application.getPicture(recado.getRemetente().getAvatar())}" height=50/>
					<b>${recado.getRemetente().getNome()}
				</a> disse (às ${recado.getDataFormatada()}):
				</b>
				<br>
				<big><b>${recado.getTexto()}</b></big>
				<br>
				<b>
				<small>
					<a href="@{Application.recadosaluno(recado.getIdRemetente())}">
						Responder
					</a>
					<a href="@{Application.removerRecado(recado.getId())}">
						[x] Apagar recado.
					</a>
				</small>
				</b>
				<br>
			<br/><br>
		#{/list}
	</p>
</div>
#{/if}