#{extends '/templates/templateuser.html' /}
#{set title: 'SiGBO :: Usuário / Página Inicial' /}

<h2>${aluno.getNome()}</h2>
<big><big>${aluno.escreverTurmaAtual()}</big></big>
<p align="left">
#{if (aluno.getAvatar() == 0)}
	<b>Coloque uma foto :)
	<br>
						
	#{form @Application.uploadPicture(), enctype:'multipart/form-data'}
		<input type="file" name="picture.image" />
		<input type="submit" name="submit" value="Save" />
	#{/form}
	</b>
#{/if}
<br>
</p>
<br><br><br><br><br><br><br><br>