#{extends '/templates/templateuser.html' /}
#{set title: 'SiGBO :: Usuário / Página Inicial' /}

<center>
<p align="left">
#{if (aluno.getAvatar() == 0)}
	<b>Complete o seu registro, ${aluno.getNome()}!
	<br>
						
	#{form @Application.uploadPicture(), enctype:'multipart/form-data'}
		<input type="file" name="picture.image" />
		<input type="submit" name="submit" value="Save" />
	#{/form}
	</b>
#{/if}
<br>
Quantidade de disciplinas: ${disciplinas.size()}
<br><br>
#{if disciplinas != null}
	#{list items:disciplinas, as:'disc'}
		<b>${disc.getNomeDisciplina()}</b>
		<br>
		Notas:
		<br>
		${disc.getNota1()} ||  
		${disc.getNota2()} || 
		${disc.getNota3()} || 
		${disc.getNota4()} ||
		<br><br>
	#{/list}
#{/if}
</p>
</div>
</center>
<br><br><br><br><br><br><br><br>