<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1" />
	<title>#{get 'title' /}</title>
	<link rel="stylesheet" href="@{'public/stylesheets/style.css'}" type="text/css" media="all" />
	
	<!--[if IE 6]>
		<link rel="stylesheet" href="@{'public/stylesheets/ie.css'}" type="text/css" media="all" />	
	<![endif]-->
	
	<script type="text/javascript" src="@{'public/javascripts/jquery-1.4.2.min.js'}"></script>
	
	<script type="text/javascript" src="@{'public/javascripts/jquery.jcarousel.js'}"></script>
	
	<!-- Cufon -->
	<script type="text/javascript" src="@{'public/javascripts/cufon-yui.js'}"></script>
	
	<script type="text/javascript" src="@{'public/javascripts/MyriadPro.font.js'}"></script>
	<script type="text/javascript" src="@{'public/javascripts/ArialBold.font.js'}"></script>
	
	
	<script type="text/javascript" src="@{'public/javascripts/jquery-func.js'}"></script>
	<link rel="shortcut icon" type="image/x-icon" href="@{'public/images/favicon.ico'}" />
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo -->
		<h1 id="logo"><a href="#">CEMNA - centro educacional professora maria norma alves</a></h1>
		<!-- /Logo -->
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="#" class="active">In&iacute;cio</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Fotos</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</div>
		<!-- /Navigation -->
	</div>
</div>
<!-- /Header -->

<!-- Intro -->
<div id="intro">
	<div class="shell">
		<!-- Slider Holder -->
		<div class="slider-holder">
			<ul>
				<!-- Offer -->
				<li>
					<div class="offer-image">
						<img src="@{'public/images/offer-image-1.jpg'}" alt="" />
					</div>
				</li>
				<!-- /Offer -->
				
				<!-- Offer -->
				<li>
					<div class="offer-image">
						<img src="@{'public/images/offer-image-2.jpg'}" alt="" />
					</div>
				</li>
				<!-- /Offer -->
				
				<!-- Offer -->
				<li>
					<div class="offer-image">
						<img src="@{'public/images/offer-image-3.jpg'}" alt="" />
					</div>
				</li>
				<!-- /Offer -->

				<!-- Offer -->
				<li>
					<div class="offer-image">
						<img src="@{'public/images/offer-image-4.jpg'}" alt="" />
					</div>
				</li>
				<!-- /Offer -->

				<!-- Offer -->
				<li>
					<div class="offer-image">
						<img src="@{'public/images/offer-image-5.jpg'}" alt="" />
					</div>
				</li>
				<!-- /Offer -->
			</ul>
		</div>
		<!-- /Slider Holder -->
		<!-- Slider Navigation -->
		<div class="slider-navigation">
			<ul>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>
		<!-- /Slider Navigation -->
	</div>
</div>
<!-- /Intro -->

<!-- Main -->
<div id="main">
	<div class="shell">
		<!-- Box --> 
		<div class="box principal">
			<h2>Centro Educacional Professora Maria Norma Alves</h2>
			
			<div class="entry">	
				<p>Rua Padre João Maria, S/N, Centro
				<br>CEP: 59324-000 | Jardim de Piranhas - RN | Tel: (84) 3423-2345</p>
			</div>
		</div>
		<!-- /Box -->

		<!-- Box --> 
		<div class="box">
			<center>
			<h2>Login</h2>
			<div class="entry">	
				<form action="@{Application.login()}" method="GET">
					<input type="text" name="usuario" value="Nome de Usuario" onblur="if(this.value == '') { this.value='Nome de Usuario'}" onfocus="if (this.value == 'Nome de Usuario') {this.value=''}">
					<input type="password" name="senha" onblur="if(this.value == '') { this.value='Senha'}" onfocus="if (this.value == 'Senha') {this.value=''}">
					<div class="buttons">
						<input type="submit" value="Acessar o Sistema" class="button">
					</div>
					#{if flash.error}
    					<p style="color:#c00">
						${flash.error}
    					</p>
					#{/if}
				</form>

				
			</div>
			</center>
		</div>
		<!-- /Box -->

		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- /Main -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<!-- Mini Nav --> 
		<div class="footer-navigation"> 
			<ul> 
				<li><a href="#">In&iacute;cio</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Fotos</a></li>
				<li><a href="#">Blog</a></li>
				<li class="last"><a href="#">Contato</a></li> 
			</ul> 
		</div> 
		<!-- /Mini Nav --> 
		
		<!-- Copyrights --> 
		<p class="right"> 
			Copyright &copy; 2011 | CEMNA | Fantastic Five Team | <a href="http://css-free-templates.com/">Design</a> 
		</p> 
		<!-- /Copyrights --> 
		
		<div class="cl">&nbsp;</div> 
	</div>
</div>
<!-- /Footer -->
</body>
</html>